.container {
  margin: 60px auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.3);
}
header {
  font-family: 'Yuji Mai', serif;
  color: rgba(4, 4, 4, 0.9);
  font-weight: 800;
  font-size: 24px;
  margin: 30px;
  text-align: center;
}

form {
  padding: 30px;
  border-radius: 10px;
  display: flex;
  box-shadow: rgba(34 33 66 0.5);
  margin-bottom: 20px;
}

.input {
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px rgba(34 33 66 0.5);
  line-height: 1.5;
  font-size: 16px;
  color: #040404;
  border-radius: 50px;
  width: 80%;
}

.submit_button {
  padding: 14px 24px;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  width: 150px;
  background-color: #efa0c3;
  color: #fff;
}

.haiku {
  font-size: 16px;
  padding: 20px;
  line-height: 1.5;
  color: #040404;
}

a {
  color: #efa0c3;
}

footer {
  text-align: center;
  font-size: 9px;
  background: rgba(255, 255, 255, 0.3);
  font-family: monospace;
  margin-top: 30px;
  color: #040404;
}
