.body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/151/619/original/cherryblossom.jpg?1732797226");
  background-repeat: no-repeat;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

.container {
  margin: 30px auto;
  max-width: 600px;
  background: rgba(255, 255, 255, 0.3);
}
header {
  font-family: "Nanum Brush Script", cursive;
  color: rgba(4, 4, 4, 0.8);
  font-weight: 800;
  font-size: 32px;
  margin: 30px;
  text-align: center;
}

.form_container {
  padding: 30px;
  border-radius: 10px;
  box-shadow: rgba(34 33 66 0.5);
}

form {
  display: flex;
}

.example_topics {
  color: #a54870;
  padding: 30px;
  margin-top: 30px;
  margin-left: 200px;
  opacity: 80%;
}

.input {
  padding: 16px;
  background: rgba(255, 255, 255, 0.3);
  border: 1px rgba(34 33 66 0.5);
  line-height: 1.5;
  font-family: "Nanum Brush Script", cursive;
  font-size: 32px;
  color: #040404;
  border-radius: 50px;
  width: 80%;
  text-align: center;
}

.submit_button {
  padding: 14px 24px;
  font-size: 16px;
  line-height: 1.5;
  margin-left: 10px;
  border: none;
  border-radius: 50px;
  width: 150px;
  background-color: #efa0c3;
  color: #fff;
}
.waiting {
  margin-top: 30px;
}

.typewriter_wrapper {
  margin-top: 5px;
}
.haiku {
  font-size: 16px;
  padding: 0px 20px;
  line-height: 1.5;
  color: #040404;
  text-align: right;
}

.haiku strong {
  color: #efa0c3;
}

a {
  color: #efa0c3;
}

footer {
  text-align: center;
  font-size: 9px;
  background: rgba(255, 255, 255, 0.3);
  font-family: monospace;
  margin-top: 60px;
  color: #040404;
}
